.centered-div {
    width: 50%; /* Or any other fixed width */
    margin: 0 auto; /* Top/bottom margin 0, left/right margin auto */
    margin-top: 200px;
}


#btn1 {
    color: white;
    font-size: 20px;
    background-color: #FF0000;
    padding: 5px;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 8px #ae1515;
    transition: .65s ease-in-out;
    margin-right: 40px;
}

#btn1:hover {
    transform: translateY(8px);
    box-shadow: 0 0;
    cursor: pointer;
}

#btn1:active {
    background-image: linear-gradient(to right, red, purple);
}




#btn2{
    font-size: 0px;
    color: black;
    background-color: black;
    padding: 5px;
    border: 0px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    transition: .15s;
    margin-right: 40px;
}

#btn2:hover {
    color: white;
    font-size: 15px;
    transform: scale(7);
    cursor: pointer;
}

#btn2:active {
    background-image: linear-gradient(45deg, purple, black);
    border-width: 12px;
    border-width: 2px;
}




#btn3 {
    background-color: #FF5F05;
    color: #13294B;
    font-weight: bold;
    font-size: 65px;
    margin-top: 40px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    transition: .2s;
    box-shadow: 4px 4px 5px black;
}

#btn3:hover {
    cursor: pointer;
    transform: rotate(3600deg);
}

#btn3:active {
    background-color: #13294B;
    color: #FF5F05;
}


#btn4 {
    background-color: #4f5cd4;
    box-shadow: 0 8px 4px goldenrod;
    padding: 10px;
    height: 60px;
    width: 150px;
    margin-left: 40px;
    border: none;
    border-radius: 15px;
    transition: 0.75s;
}

#btn4:hover {
    transform: translateY(8px);
    background-color: white;
    box-shadow: 0 0;
    cursor: pointer;
}

#btn4:active {
    background-image: linear-gradient(to right, coral, #4f5cd4);;
}